body {
 display: table;
 position: absolute;
 height: 100%;
 width: 100%;
 background-image: url("img/paper.png");
}
.outer {
 display: table-cell;
 vertical-align: middle;
}
.content {
  margin: 5em auto;
  box-shadow: 3px 3px 10px black;
  background-color: white;
  width: 400px;
  text-align: center;
  border: 1px solid white;
  border-radius: 1em;
}
h1 {
  display: block;
  text-align: left;
  font-size: medium;
  height: 1em;
  width: 90%;
  margin: 1em;
}
#result {
  height: 1.5em;
  width: 90%;
  display: block;
  font-family: sans-serif;
  margin: 1em auto;
  border: 1px solid black;
  text-align: end;
}
form {
  margin: 1em 0;
}
#formula {
  height: 1.5em;
  width: 80%;
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
  border: 1px solid black;
  font-size: medium;
  margin: 0;
}
.button {
  width: 9%;
  height: 1.5em;
  text-decoration: none;
  font-size: medium;
  margin: 0;
  margin-left: 1%;
  color: black;
  background-color: white;
  border: 1px solid black;
}
